
VierGewinnt/obj/VierGewinnt.csproj.nuget.g.props
VierGewinnt/obj/VierGewinnt.csproj.nuget.dgspec.json
VierGewinnt/obj/project.nuget.cache
VierGewinnt/obj/project.assets.json
VierGewinnt/obj/Debug/net5.0/VierGewinnt.csprojAssemblyReference.cache
VierGewinnt/obj/Debug/net5.0/VierGewinnt.assets.cache
